body{
    display: flex;
    flex-direction: column;
    height: 300vh;
    width: 100%;
    margin: 0;
    /* margin-left: 200px; */
    /* transition: margin-left 0.3s ease; */
    /* background-color: rgb(248, 248, 248); */
}

main {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
}


section{
    /* width: 100%; */
}

p{
    font-family: Roboto, Arial;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}