/* .sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top:8.6%;
    width: 10%;
    background-color: white;
    z-index:250;
    padding-top: 5px;
    display: inline;
} */
.sidebar {
    position: fixed;
    left: 0;
    top: 8.6%;
    width: 200px;
    height: calc(100% - 8.6%);
    background-color: white;
    z-index: 250;
    padding-top: 5px;
}

.sidebar-link{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(234, 232, 232);
}
.sidebar-link img{
    height:24px;
    margin-bottom: 4px;
}
.sidebar-link-text{
    font-family: Roboto, Arial;
    font-size: 10px;
    font-weight: 420;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(min-width:1000px){
    .sidebar-link-text{
        font-size: 11.1px;
    }
}