


/* .vid-grid{
    width: 100%;
    margin: 0 0 0 10%;
    
    padding-top: 12vh;
    padding-left: 2.5%;
    padding-right: 2%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap:45px;
    background-color: #f9f9f9;
} */
.vid-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width:750px){
    .vid-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width:999px){
    .vid-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1000px){
    .vid-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.vid-preview{
    /* padding: 20px; */
}
.thumbnail{
    width:100%;
    cursor: pointer;
    
    }
    .thumbnail-row{
        position: relative;
        margin-bottom:8px;
    }
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
    
    .vid-title{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        cursor: pointer;
    }
    @media (min-width:1000px){
        .vid-title{
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
        }
    }
    .vid-author,
    .vid-stats{
        font-weight: 400;
        font-size: 12px;
        color: rgb(96, 96, 96)
    }
    @media (min-width:1000px){
        .vid-author,
        .vid-stats,
        .video-time{
            font-size: 16px;
        }
    }
    .vid-author{
        margin-bottom:4px;
        cursor: pointer;
    }
    .channel-pic{
        
        vertical-align: top;
    }
    .vid-info{
        display:inline-block;
        width:240px;
    }
    .profile-pic{
        width:35px;
        border-radius: 30px;
        cursor: pointer;
    }
    
    .video-time{
        color:white;
        background-color: black;
        position: absolute;
        bottom:8px;
        right: 5px;
        font-family: Roboto, Arial;
        font-size: 12px;
        font-weight: 500;
        padding: 4px 4px 4px 4px;
        border-radius: 2px;
    }